<section class="section" id="projects">
  <div class="container">
    <h1 class="title is-size-1 title-line">
      <span class="title-text">Projects</span>
    </h1>
  </div>
</section>

<!-- Portfolio -->
<section class="section">
  <div class="container project-body">
    <h1 class="title title-margin">Portfolio Website</h1>
    <h2 class="subtitle">
      This portfolio was made with <strong>Bulma</strong> to show off my projects while practicing testing.
    </h2>
    <div class="columns project-body-margin">
      <div class="column">
        <!-- images -->
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <!-- portfolio image modal 1 -->
            <div class="modal" [class.is-active]="showModal['portfolio1']" data-test="portfolio1Modal">
              <div class="modal-background" (click)="toggleModal('portfolio1')"></div>
              <div class="modal-content modal-resize">
                <img src="../../../assets/images/projects/portfolio-p1.jpeg" alt="Image of air-koalaty-report" class="modal-img">
              </div>
              <button class="modal-close is-large" aria-label="close" data-test="portfolio1ModalX" (click)="toggleModal('portfolio1')"></button>
            </div>
            <!-- portfolio image 1 -->
            <figure class="image is-5by3 project-image" (click)="toggleModal('portfolio1')" data-test="portfolio1Figure">
              <img src="../../../assets/images/projects/portfolio-p1.jpeg" alt="Image of Air KOALAty Report" class="base-img">
              <fa-icon [icon]="['fas', 'expand']" class="img-icon"></fa-icon>
            </figure>
          </div>
          <div class="column">
            <!-- portfolio image modal 2 -->
            <div class="modal" [class.is-active]="showModal['portfolio2']" data-test="portfolio2Modal">
              <div class="modal-background" (click)="toggleModal('portfolio2')"></div>
              <div class="modal-content modal-resize">
                <img src="../../../assets/images/test.png" alt="Image of air-koalaty-report" class="modal-img">
              </div>
              <button class="modal-close is-large" aria-label="close" data-test="portfolio2ModalX" (click)="toggleModal('portfolio2')"></button>
            </div>
            <!-- portfolio image 2 -->
            <figure class="image is-5by3 project-image" (click)="toggleModal('portfolio2')" data-test="portfolio2Figure">
              <img src="../../../assets/images/test.png" alt="Image of Air KOALAty Report" class="base-img">
              <fa-icon [icon]="['fas', 'expand']" class="img-icon"></fa-icon>
            </figure>
          </div>
        </div>
        <!-- buttons -->
        <div class="button-container">
          <a class="button is-medium is-rounded" href="https://github.com/Dnel9281/david-portfolio" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="xs"></fa-icon> Code
          </a>
        </div>
      </div>
      <!-- info -->
      <div class="column">
        <p class="subtitle">
          <strong>Testing</strong>
          <br>
          This site has passing unit and integrated tests using <strong>Jasmine</strong> and <strong>Cypress</strong>.
        </p>
        <p class="subtitle">
          <strong>Accessibility</strong>
          <br>
          The color on this site passess web accessibility tests. It also has alt properties for images, aria labels, and descriptive link labels.
        </p>
        <p class="subtitle">
          <strong>Backend</strong>
          <br>
          The backend uses <strong>Nodemailer</strong> and <strong>Express</strong> to send the message from the contact form.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Air KOALAty Report -->
<section class="section">
  <div class="container project-body">
    <h1 class="title title-margin">Air KOALAty Report</h1>
    <div class="columns project-body-margin">
      <div class="column">
        <!-- images -->
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <!-- air koalaty image modal 1 -->
            <div class="modal" [class.is-active]="showModal['air1']" data-test="air1Modal">
              <div class="modal-background" (click)="toggleModal('air1')"></div>
              <div class="modal-content modal-resize">
                <img src="../../../assets/images/projects/air-p1.jpeg" alt="Image of air-koalaty-report" class="modal-img">
              </div>
              <button class="modal-close is-large" aria-label="close" data-test="air1ModalX" (click)="toggleModal('air1')"></button>
            </div>
            <!-- air koalaty img 1 -->
            <figure class="image is-5by3 project-image" (click)="toggleModal('air1')" data-test="air1Figure">
              <img src="../../../assets/images/projects/air-p1.jpeg" alt="Image of Air KOALAty Report" class="base-img">
              <fa-icon [icon]="['fas', 'expand']" class="img-icon"></fa-icon>
            </figure>
          </div>
          <div class="column">
            <!-- air koalaty image modal 2 -->
            <div class="modal" [class.is-active]="showModal['air2']" data-test="air2Modal">
              <div class="modal-background" (click)="toggleModal('air2')"></div>
              <div class="modal-content modal-resize">
                <img src="../../../assets/images/projects/air-p2.jpeg" alt="Image of air-koalaty-report" class="modal-img">
              </div>
              <button class="modal-close is-large" aria-label="close" data-test="air2ModalX" (click)="toggleModal('air2')"></button>
            </div>
            <!-- air koalaty img 2 -->
            <figure class="image is-5by3 project-image" (click)="toggleModal('air2')" data-test="air2Figure">
              <img src="../../../assets/images/projects/air-p2.jpeg" alt="Image of Air KOALAty Report" class="base-img">
              <fa-icon [icon]="['fas', 'expand']" class="img-icon"></fa-icon>
            </figure>
          </div>
        </div>
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <!-- air koalaty image modal 3 -->
            <div class="modal" [class.is-active]="showModal['air3']" data-test="air3Modal">
              <div class="modal-background" (click)="toggleModal('air3')"></div>
              <div class="modal-content modal-resize">
                <img src="../../../assets/images/projects/air-p3.jpeg" alt="Image of air-koalaty-report" class="modal-img">
              </div>
              <button class="modal-close is-large" aria-label="close" data-test="air3ModalX" (click)="toggleModal('air3')"></button>
            </div>
            <!-- air koalaty img 3 -->
            <figure class="image is-5by3 project-image" (click)="toggleModal('air3')" data-test="air3Figure">
              <img src="../../../assets/images/projects/air-p3.jpeg" alt="Image of Air KOALAty Report" class="base-img">
              <fa-icon [icon]="['fas', 'expand']" class="air3-img-icon"></fa-icon>
            </figure>
          </div>
          <div class="column">
            <!-- air koalaty image modal 4 -->
            <div class="modal" [class.is-active]="showModal['air4']" data-test="air4Modal">
              <div class="modal-background" (click)="toggleModal('air4')"></div>
              <div class="modal-content modal-resize">
                <img src="../../../assets/images/projects/air-p4.jpeg" alt="Image of air-koalaty-report" class="modal-img">
              </div>
              <button class="modal-close is-large" aria-label="close" data-test="air4ModalX" (click)="toggleModal('air4')"></button>
            </div>
            <!-- air koalaty img 4 -->
            <figure class="image is-5by3 project-image" (click)="toggleModal('air4')" data-test="air4Figure">
              <img src="../../../assets/images/projects/air-p4.jpeg" alt="Image of Air KOALAty Report" class="base-img">
              <fa-icon [icon]="['fas', 'expand']" class="img-icon"></fa-icon>
            </figure>
          </div>
        </div>
        <!-- buttons -->
        <div class="button-container">
          <a class="button is-medium is-rounded" href="https://airkoalatyreport.herokuapp.com/" target="_blank">
            <fa-icon [icon]="['fas', 'external-link-alt']" size="xs"></fa-icon> Site
          </a>
          <a class="button is-medium is-rounded" href="https://github.com/Dnel9281/air-koalaty-report" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="xs"></fa-icon> Code
          </a>
        </div>
      </div>
      <!-- info -->
      <div class="column">
        <p class="subtitle">
          <strong>Auth0</strong> A simple container to divide your page into sections, like the one you're currently reading
        </p>
        <p class="subtitle">
          <strong>Angular Material</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, minima quibusdam ipsum eligendi temporibus corporis deserunt vel magnam, obcaecati, cupiditate commodi sit sunt molestias a! Quam dolorum architecto quod asperiores?
        </p>
        <p class="subtitle">
          <strong>Api</strong> A simple container to divide your page into sections, like the one you're currently reading
        </p>
        <p class="subtitle">
          <strong>Backend</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, minima quibusdam ipsum eligendi temporibus corporis deserunt vel magnam, obcaecati, cupiditate commodi sit sunt molestias a! Quam dolorum architecto quod asperiores?
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Poke-Survey -->
<section class="section">
  <div class="container project-body">
    <h1 class="title title-margin">Poke-Survey</h1>
    <div class="columns project-body-margin">
      <div class="column">
        <!-- images -->
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <!-- poke-survey image modal 1 -->
            <div class="modal" [class.is-active]="showModal['poke1']" data-test="poke1Modal">
              <div class="modal-background" (click)="toggleModal('poke1')"></div>
              <div class="modal-content modal-resize">
                <img src="../../../assets/images/projects/poke-survey-p1.jpeg" alt="Image of air-koalaty-report" class="modal-img">
              </div>
              <button class="modal-close is-large" aria-label="close" data-test="poke1ModalX" (click)="toggleModal('poke1')"></button>
            </div>
            <!-- poke-survey img 1 -->
            <figure class="image is-5by3 project-image" (click)="toggleModal('poke1')" data-test="poke1Figure">
              <img src="../../../assets/images/projects/poke-survey-p1.jpeg" alt="Image of Air KOALAty Report" class="base-img">
              <fa-icon [icon]="['fas', 'expand']" class="img-icon"></fa-icon>
            </figure>
          </div>
          <div class="column">
            <!-- poke-survey image modal 2 -->
            <div class="modal" [class.is-active]="showModal['poke2']" data-test="poke2Modal">
              <div class="modal-background" (click)="toggleModal('poke2')"></div>
              <div class="modal-content modal-resize">
                <img src="../../../assets/images/projects/poke-survey-p2.jpeg" alt="Image of air-koalaty-report" class="modal-img">
              </div>
              <button class="modal-close is-large" aria-label="close" data-test="poke2ModalX" (click)="toggleModal('poke2')"></button>
            </div>
            <!-- poke-survey img 2 -->
            <figure class="image is-5by3 project-image" (click)="toggleModal('poke2')" data-test="poke2Figure">
              <img src="../../../assets/images/projects/poke-survey-p2.jpeg" alt="Image of Air KOALAty Report" class="base-img">
              <fa-icon [icon]="['fas', 'expand']" class="img-icon"></fa-icon>
            </figure>
          </div>
        </div>
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <!-- poke-survey image modal 3 -->
            <div class="modal" [class.is-active]="showModal['poke3']" data-test="poke3Modal">
              <div class="modal-background" (click)="toggleModal('poke3')"></div>
              <div class="modal-content modal-resize">
                <img src="../../../assets/images/projects/poke-survey-p3.jpeg" alt="Image of air-koalaty-report" class="modal-img">
              </div>
              <button class="modal-close is-large" aria-label="close" data-test="poke3ModalX" (click)="toggleModal('poke3')"></button>
            </div>
            <!-- poke-survey img 3 -->
            <figure class="image is-5by3 project-image" (click)="toggleModal('poke3')" data-test="poke3Figure">
              <img src="../../../assets/images/projects/poke-survey-p3.jpeg" alt="Image of Air KOALAty Report" class="base-img">
              <fa-icon [icon]="['fas', 'expand']" class="img-icon"></fa-icon>
            </figure>
          </div>
          <div class="column">
            <!-- poke-survey image modal 4 -->
            <div class="modal" [class.is-active]="showModal['poke4']" data-test="poke4Modal">
              <div class="modal-background" (click)="toggleModal('poke4')"></div>
              <div class="modal-content modal-resize">
                <img src="../../../assets/images/projects/poke-survey-p4.jpeg" alt="Image of air-koalaty-report" class="modal-img">
              </div>
              <button class="modal-close is-large" aria-label="close" data-test="poke4ModalX" (click)="toggleModal('poke4')"></button>
            </div>
            <!-- poke-survey img 4 -->
            <figure class="image is-5by3 project-image" (click)="toggleModal('poke4')" data-test="poke4Figure">
              <img src="../../../assets/images/projects/poke-survey-p4.jpeg" alt="Image of Air KOALAty Report" class="base-img">
              <fa-icon [icon]="['fas', 'expand']" class="img-icon"></fa-icon>
            </figure>
          </div>
        </div>
        <!-- buttons -->
        <div class="button-container">
          <a class="button is-medium is-rounded" href="https://poke-survey.herokuapp.com/" target="_blank">
            <fa-icon [icon]="['fas', 'external-link-alt']" size="xs"></fa-icon> Site
          </a>
          <a class="button is-medium is-rounded" href="https://github.com/Dnel9281/poke-survey" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="xs"></fa-icon> Code
          </a>
        </div>
      </div>
      <!-- info -->
      <div class="column">
        <p class="subtitle">
          <strong>Testing</strong> A simple container to divide your page into sections, like the one you're currently reading
        </p>
        <p class="subtitle">
          <strong>Testing</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, minima quibusdam ipsum eligendi temporibus corporis deserunt vel magnam, obcaecati, cupiditate commodi sit sunt molestias a! Quam dolorum architecto quod asperiores?
        </p>
        <p class="subtitle">
          <strong>Testing</strong> A simple container to divide your page into sections, like the one you're currently reading
        </p>
        <p class="subtitle">
          <strong>Testing</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, minima quibusdam ipsum eligendi temporibus corporis deserunt vel magnam, obcaecati, cupiditate commodi sit sunt molestias a! Quam dolorum architecto quod asperiores?
        </p>
      </div>
    </div>
  </div>
</section>