/* Component text styles */
h1, h2 {
  text-align: center;
}

h1, h2, p, strong {
  color: #09204A;
}

/* Component title */
.title-text {
  background:#fff;
  padding: 0 5px;
}

.title-line {
  border-bottom: 1px solid #09204A;
  height: 30px;
  margin-bottom: 30px;
}

/* Projects section */
section {
  margin-bottom: 75px;
}

/* Images */
.project-image {
  margin: 0 3px;
  border-radius: 10px;
  transition: color 200ms ease-out;
}

.project-image:hover {
  cursor: pointer;
}

.project-image:hover .img-icon,
.project-image:hover .air3-img-icon {
  color: #6bd9eb;
}

.base-img {
  border-radius: 10px;
  transition: filter 200ms ease-out;
}

.base-img:hover {
  filter: grayscale(100%);
}

.img-icon {
  position: absolute;
  color: #09204A;
  bottom: 3px;
  right: 3px;
}

.air3-img-icon {
  position: absolute;
  color: #fff;
  bottom: 3px;
  right: 3px;
}

/* Buttons and icons */
.button-container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.button {
  background-color: #77dd77;
  color: #09204A;
  border: none;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
  transition: background-color 200ms ease-out;
  transition: color 200ms ease-out;
}

.button:hover {
  background-color: #32C832;
}

fa-icon {
  margin-right: 5px;
}

/* Projects background, border, spacing, and shadow */
.project-body {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
}

.title-margin {
  margin-top: 24px;
}

.project-body-margin {
  margin-bottom: 12px;
}

/* Modal styles */
.modal-resize {
  width: auto;
  margin: 0 20px;
  max-height: calc(100vh - 40px);
}

.modal-img {
  max-height: calc(100vh - 50px);
}

/* .test {
  transition: flex 300ms ease-out;
} */