<section class="section" id="projects">
  <div class="container">
    <h1 class="title is-size-1 title-line">
      <span class="title-text">Projects</span>
    </h1>
  </div>
</section>

<!-- Portfolio -->
<section class="section">
  <div class="container project-body">
    <h1 class="title title-margin">Portfolio Website</h1>
    <h2 class="subtitle">
      This portfolio was made to show off my projects while practicing testing.
    </h2>
    <div class="columns project-body-margin">
      <div class="column">
        <!-- images -->
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <figure class="image is-5by3 project-image">
              <img src="../../../assets/images/projects/air-koalaty-report-pic.jpeg" alt="Image of Air KOALAty Report" class="rounded-corners">
            </figure>
          </div>
          <div class="column">
            <figure class="image is-5by3 project-image">
              <img src="../../../assets/images/projects/air-koalaty-report-pic.jpeg" alt="Image of Air KOALAty Report" class="rounded-corners">
            </figure>
          </div>
        </div>
        <!-- buttons -->
        <div class="button-container">
          <a class="button is-medium is-rounded" href="https://github.com/Dnel9281/david-portfolio" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="xs"></fa-icon> Code
          </a>
        </div>
      </div>
      <!-- info -->
      <div class="column">
        <p class="subtitle">
          <strong>Testing</strong>
          <br>
          This site has passing unit and integrated tests using <strong>Jasmine</strong> and <strong>Cypress</strong>.
        </p>
        <p class="subtitle">
          <strong>Accessibility</strong>
          <br>
          The color on this site passess web accessibility tests. It also has alt properties for images, aria labels, and descriptive link labels.
        </p>
        <p class="subtitle">
          <strong>Backend</strong>
          <br>
          The backend uses <strong>Nodemailer</strong> and <strong>Express</strong> to send the message from the contact form.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Air KOALAty Report -->
<section class="section">
  <div class="container project-body">
    <h1 class="title title-margin">Air KOALAty Report</h1>
    <div class="columns project-body-margin">
      <div class="column">
        <!-- images -->
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <figure class="image is-5by3 project-image">
              <img src="../../../assets/images/projects/air-p1.jpeg" alt="Image of Air KOALAty Report" class="rounded-corners">
            </figure>
          </div>
          <div class="column">
            <figure class="image is-5by3 project-image">
              <img src="../../../assets/images/projects/air-p2.jpeg" alt="Image of Air KOALAty Report" class="rounded-corners">
            </figure>
          </div>
        </div>
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <figure class="image is-5by3 project-image">
              <img src="../../../assets/images/projects/air-p3.jpeg" alt="Image of Air KOALAty Report" class="rounded-corners">
            </figure>
          </div>
          <div class="column">
            <figure class="image is-5by3 project-image">
              <img src="../../../assets/images/projects/air-p4.jpeg" alt="Image of Air KOALAty Report" class="rounded-corners">
            </figure>
          </div>
        </div>
        <!-- buttons -->
        <div class="button-container">
          <a class="button is-medium is-rounded" href="https://airkoalatyreport.herokuapp.com/" target="_blank">
            <fa-icon [icon]="['fas', 'external-link-alt']" size="xs"></fa-icon> Live
          </a>
          <a class="button is-medium is-rounded" href="https://github.com/Dnel9281/air-koalaty-report" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="xs"></fa-icon> Code
          </a>
        </div>
      </div>
      <!-- info -->
      <div class="column">
        <p class="subtitle">
          <strong>Auth0</strong> A simple container to divide your page into sections, like the one you're currently reading
        </p>
        <p class="subtitle">
          <strong>Angular Material</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, minima quibusdam ipsum eligendi temporibus corporis deserunt vel magnam, obcaecati, cupiditate commodi sit sunt molestias a! Quam dolorum architecto quod asperiores?
        </p>
        <p class="subtitle">
          <strong>Api</strong> A simple container to divide your page into sections, like the one you're currently reading
        </p>
        <p class="subtitle">
          <strong>Backend</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, minima quibusdam ipsum eligendi temporibus corporis deserunt vel magnam, obcaecati, cupiditate commodi sit sunt molestias a! Quam dolorum architecto quod asperiores?
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Poke-Survey -->
<section class="section">
  <div class="container project-body">
    <h1 class="title title-margin">Poke-Survey</h1>
    <div class="columns project-body-margin">
      <div class="column">
        <!-- images -->
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <figure class="image is-5by3 project-image">
              <img src="../../../assets/images/projects/poke-survey-p1.jpeg" alt="Image of Air KOALAty Report" class="rounded-corners">
            </figure>
          </div>
          <div class="column">
            <figure class="image is-5by3 project-image">
              <img src="../../../assets/images/projects/poke-survey-p2.jpeg" alt="Image of Air KOALAty Report" class="rounded-corners">
            </figure>
          </div>
        </div>
        <div class="columns is-mobile is-gapless">
          <div class="column">
            <figure class="image is-5by3 project-image">
              <img src="../../../assets/images/projects/poke-survey-p3.jpeg" alt="Image of Air KOALAty Report" class="rounded-corners">
            </figure>
          </div>
          <div class="column">
            <figure class="image is-5by3 project-image">
              <img src="../../../assets/images/projects/poke-survey-p4.jpeg" alt="Image of Air KOALAty Report" class="rounded-corners">
            </figure>
          </div>
        </div>
        <!-- buttons -->
        <div class="button-container">
          <a class="button is-medium is-rounded" href="https://poke-survey.herokuapp.com/" target="_blank">
            <fa-icon [icon]="['fas', 'external-link-alt']" size="xs"></fa-icon> Live
          </a>
          <a class="button is-medium is-rounded" href="https://github.com/Dnel9281/poke-survey" target="_blank">
            <fa-icon [icon]="['fab', 'github']" size="xs"></fa-icon> Code
          </a>
        </div>
      </div>
      <!-- info -->
      <div class="column">
        <p class="subtitle">
          <strong>Testing</strong> A simple container to divide your page into sections, like the one you're currently reading
        </p>
        <p class="subtitle">
          <strong>Testing</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, minima quibusdam ipsum eligendi temporibus corporis deserunt vel magnam, obcaecati, cupiditate commodi sit sunt molestias a! Quam dolorum architecto quod asperiores?
        </p>
        <p class="subtitle">
          <strong>Testing</strong> A simple container to divide your page into sections, like the one you're currently reading
        </p>
        <p class="subtitle">
          <strong>Testing</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, minima quibusdam ipsum eligendi temporibus corporis deserunt vel magnam, obcaecati, cupiditate commodi sit sunt molestias a! Quam dolorum architecto quod asperiores?
        </p>
      </div>
    </div>
  </div>
</section>