<section class="section" id="skills">
  <div class="container">
    <h1 class="title is-size-1 title-line">
      <span class="title-text">Skills</span>
    </h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-gapless">

      <div class="column">
        <h1>Front End</h1>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Javascript / ES6</li>
          <li>Typescript</li>
          <li>Angular</li>
          <li>Angular Material</li>
          <li>Bootstrap</li>
          <li>Bulma</li>
        </ul>
      </div>

      <div class="column">
        <h1>Back End</h1>
        <ul>
          <li>Node.js</li>
          <li>MongoDB</li>
          <li>Express</li>
          <li>Mongoose</li>
        </ul>
      </div>

      <div class="column">
        <h1>Testing</h1>
        <ul>
          <li>Jasmine</li>
          <li>Cypress</li>
          <li>Karma</li>
        </ul>
      </div>

      <div class="column">
        <h1>Source Control</h1>
        <ul>
          <li>Git</li>
          <li>Github</li>
        </ul>
      </div>
    </div>
  </div>
</section>