<section class="section" id="skills">
  <div class="container">
    <h1 class="title is-size-1 title-line">
      <span class="title-text">Skills</span>
    </h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-gapless">

      <div class="column">
        <h1>Frameworks</h1>
        <ul>
          <li>Angular</li>
          <li>Express</li>
        </ul>
      </div>

      <div class="column">
        <h1>Languages</h1>
        <ul>
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>Typescript</li>
        </ul>
      </div>

      <div class="column">
        <h1>Deployment</h1>
        <ul>
          <li>MongoDB</li>
          <li>Heroku</li>
          <li>Google Analytics</li>
          <li>Google Places Api</li>
        </ul>
      </div>

      <div class="column">
        <h1>Testing</h1>
        <ul>
          <li>Jasmine</li>
          <li>Cypress</li>
          <li>Karma</li>
        </ul>
      </div>

      <div class="column">
        <h1>Tools</h1>
        <ul>
          <li>Git</li>
          <li>Github</li>
          <li>Visual Studio Code</li>
        </ul>
      </div>
    </div>
  </div>
</section>