<section class="section">
  <div class="container">
    <h1 id="skills" class="body-font-color title has-text-centered is-size-1 title-line">
      <span class="title-text">Skills</span>
    </h1>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-gapless">

      <div class="column">
        <h1 class="body-font-color">Frameworks</h1>
        <ul class="body-font-color has-text-centered">
          <li>Angular</li>
          <li>Express</li>
        </ul>
      </div>

      <div class="column">
        <h1 class="body-font-color">Languages</h1>
        <ul class="body-font-color has-text-centered">
          <li>HTML</li>
          <li>CSS</li>
          <li>Javascript</li>
          <li>Typescript</li>
        </ul>
      </div>

      <div class="column">
        <h1 class="body-font-color">Deployment</h1>
        <ul class="body-font-color has-text-centered">
          <li>MongoDB</li>
          <li>Heroku</li>
          <li>Google Analytics</li>
          <li>Google Places Api</li>
        </ul>
      </div>

      <div class="column">
        <h1 class="body-font-color">Testing</h1>
        <ul class="body-font-color has-text-centered">
          <li>Jasmine</li>
          <li>Cypress</li>
          <li>Karma</li>
        </ul>
      </div>

      <div class="column">
        <h1 class="body-font-color">Tools</h1>
        <ul class="body-font-color has-text-centered">
          <li>Git</li>
          <li>Github</li>
          <li>Visual Studio Code</li>
        </ul>
      </div>
    </div>
  </div>
</section>