<nav class="navbar nav-background is-fixed-top nav-shadow" role="navigation" aria-label="main navigation" id="navbar">
  <div class="navbar-brand">
    <a class="font-audiowide navbar-item brand-name"  (click)="scrollToElement('#bannerTop')">
      David Nelson
    </a>

    <a role="button" class="navbar-burger burger nav-link" aria-label="menu" 
        aria-expanded="false" data-test="navbarItems" 
        (click)='expandMenu()' [class.is-active]='expandedMenu'>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarItems" class="navbar-menu" [class.is-active]='expandedMenu' [class.nav-background]='expandedMenu'>
    <div class="navbar-start">
      <a class="navbar-item nav-link" data-test="projects" (click)="scrollToElement('#projects')">
        Projects
      </a>

      <a class="navbar-item nav-link" data-test="skills" (click)="scrollToElement('#skills')">
        Skills
      </a>

      <a class="navbar-item nav-link" data-test="contact" (click)="scrollToElement('#contact')">
        Contact
      </a>

      <!-- To be used in a future update -->
      <!-- <a class="navbar-item nav-link">
        Resume
        <fa-icon [icon]="['fas', 'external-link-alt']" size="xs"></fa-icon>
      </a> -->
    </div>
  </div>
</nav>