/* Text styles */
h1, h3, label {
  color: #09204A;
}

/* Component title styles */
.title-text {
  background:#fff;
  padding: 0 5px;
  color: #09204A;
}

.title-line {
  border-bottom: 1px solid #09204A;
  height: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/* Or sections divider */
.or-text {
  background:#fff;
  padding: 0 5px;
  font-size: 2em;
  color: #6b7992;
}

.or-line {
  border-bottom: 1px solid #b5bcc9;
  height: 29px;
  margin: 0 auto 15px auto;
  max-width: 700px;
  text-align: center;
}

/* Contact form */
.contact-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* Notifications */
.success-notification {
  background: #77dd77;
  color: #09204A;
  border-radius: 10px;
}

.error-notification {
  background: #f39191;
  color: #09204A;
  border-radius: 10px;
}

/* Contact form buttons */
.button {
  background-color: #77dd77;
  color: #09204A;
  border: none;
  -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
  transition: background-color 200ms ease-out;
  transition: color 200ms ease-out;
}

.button:hover {
  background-color: #32C832;
}

.button:disabled {
  background-color: #77dd77;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.icon-plane {
  margin-left: 5px;
}

/* Contact icons and text */
.contact-group {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 150px auto;
}

.contact-icons {
  color: #77dd77;
  transition: background-color 200ms ease-out;
  transition: color 200ms ease-out;
}

.contact-icons:hover {
color: #32C832;
}