<section class="hero is-medium banner-background banner-shadow" id="bannerTop">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="banner-font is-size-1">
        I'm <span class='font-audiowide'>David Nelson</span>.
      </h1>
      <h2 class="subtitle banner-font">
        I'm a software developer ready to build your next project.
      </h2>
    </div>
  </div>
</section>

<app-projects></app-projects>

<app-skills></app-skills>

<app-contact></app-contact>