/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "audiowide";
  src: url("./assets/fonts/audiowide.ttf") format('ttf'),
    url("./assets/fonts/audiowide.woff") format('woff'),
    url("./assets/fonts/audiowide.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

.font-audiowide {
  font-family: 'audiowide';
}

.body-font-color {
  color: #09204A;
}

/* 
light blue - #4EDAF1
light purple - #714BFF
dark purple - #3533c9

dark font - #09204A
*/

/* 
Photo by David Clode on Unsplash

*/